#content_div{
   background: url(https://metateg.pro/img/404.jpg); 
   background-size: cover;
   position: relative;
}

#content3_div{
   background: #fff;
   height: auto;
   position: relative;
   top: 0;
}

#content5_div{
   position:relative;
   top: 0;
}

#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}