#content_div{
   background: url(https://metateg.pro/img/aboutus.jpg); 
   background-size: cover;
   position: relative;
}

#content3_div{
   background: #fff;
   height: auto;
   position: relative;
   top: 0;
}

#content5_div{
   position:relative;
   top: 0;
}

#back_button{
   background: #8C4A85;
}

.friendname a{
   color: #2B587A;
}

#feedback_div{
   text-align: left;
}

#vk_login:hover{
   cursor: pointer;
   background:#425b77;
}

#ok_login:hover{
   cursor: pointer;
   background:#fc5403;
}

@media (max-width:2880px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:87%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}

@media (max-width:2560px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:87%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}

@media (max-width:1920px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:87%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}

@media (max-width:1366px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:87%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}

@media (max-width:1280px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:87%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}

@media (max-width:1024px){
   
#welcome_div {
   font-size: 5em;
   margin-bottom: 50px;
   padding-top:25%;
   margin-top:0;
}
   
#feedback_div{
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1024px;
   font-size:1.7em;
}

.friend_block{
	clear: both;
	height: 98px;
	padding: 20px 0 0 20px;
	width: 95%;
	color: #000 !important;
}

.friendphoto_wrapper{
	border-radius: 38px;
	float: left;
	height: 75px;
	margin-bottom: 38px;
	margin-right: 15px;
	overflow: hidden;
	width: 75px;
}

.friend_image_w{
	width: 75px;
}

.my_image_w{
   width: 30px;
}

.friend_image_h{
	height: 70px;
}

.my_image_h{
	height: 30px;
}

.frienddata_wrapper{
	float: left;
	height: 81px;
	width: 90%;
	padding: 20px 0 0;
}

.friendname{
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.message_preview{
   font-size:1em;
   margin-top:5px;
   color: #000;
}

.msg_time{
   color: #bbb !important;
   float: left;
   font-size: 1em;
   line-height: 75px;
   margin-left: 14px;
}


#send_button, .wide_button{
   background: #682860;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-size: 2.3em;
   font-weight: normal;
   height: 75px;
   line-height: 0;
   margin-top: 18px;
   padding: 15px;
   text-align: center;
   width: 93%;
}

.message_input{
   width:83%;
   height:50px;
}

textarea {
   border: 1px solid #ccc;
   color: #7f7f7f;
   font-family: "Conv_Hattori_Hanzo";
   padding: 6px;
   resize: none;
}

#login_wrapper{
   font-size: 1.7em;
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 75%;
}

.sbmt{
   background-color: rgba(255, 166, 0, 0.6);
   border-width: 0;
   font-family: "Conv_Hattori_Hanzo";
   font-size: 1em;
   height: 57px;
   margin-right: 10px;
   width: 284px;
   color:rgb(255, 255, 255);
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
   border-radius: 3px;
   padding: 14px 33px;
}

.caption_msg{
   font-size: 1em !important;
}

#vk_login{
   font-size: 1em !important;
   background-color: #6383a8;
   width: 150px;
   padding: 25px 41px;
}

#ok_login{
   font-size: 1em !important;
   background-color: #fd8b18;
   width: 150px;
   margin-left: 10px;
   padding: 25px 41px;
}

#send_feedback_a{
   float: left;
   font-size: 1em;
   margin-left: 90px;
   margin-top: 20px;
   padding: 15px 5px;
}

.thanks_caption{
   margin-top: 57px;
   text-align: center;
   width: 100%;
   color: #333;
}
   
}